APPOINTMENT OF LIQUIDATOR

{{ company_name }}
ABN: {{ formatted_abn or abn }}
ACN: {{ formatted_acn or acn }}

NOTICE OF APPOINTMENT

Notice is hereby given that {{ liquidator_name }} has been appointed as liquidator of {{ company_name }} effective {{ appointment_effective_date or formatted_date }}.

Type of Liquidation: {{ liquidation_type }}

Liquidator Details:
Name: {{ liquidator_name }}
Registration: {{ liquidator_registration or 'Registered Liquidator' }}
{% if liquidator_phone %}Phone: {{ liquidator_phone }}{% endif %}
{% if liquidator_email %}Email: {{ liquidator_email }}{% endif %}

All creditors and debtors of the company should direct their inquiries to the appointed liquidator.

Dated: {{ formatted_date or current_date }}